</br></br><b>Name:</b><%=  @user.user_name %></br>
<b>Email:</b><%= @user.email%></br>
<b>Mobile:</b><%= @user.mobile %></br></br> 

<b>CONTACTS LIST </b>

<% @user.contacts.each do |contact| %>
<ol>
<li><%=  contact.name %>,<%=  contact.mobile %>,<%=contact.email %></li>
</ol>
<%end %>
	